<template>
    <section id="blog" class="box-padding">
            <h2 class="s-heading small">Blog</h2>
            <article class="carousel s-container s-910">
                <client-only>
                <Slider :options="options">
                    <SliderItem
                    v-for="i in 3"
                    :key="i"
                    >
                    <div class="carousel-cell">
                        <div class="pic">
                            <a href="#">
                                <img src="../static/img/my-blog.png" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <div class="post-title">
                                Pet Friendly Apartments in Bangkok Prime Area
                            </div>

                            <div class="post-date">
                                <div class="v-middle"><img src="../static/img/icon/view2-icon.svg" alt=""> <span>1.2K</span></div>
                                <div class="v-middle"><img src="../static/img/icon/date-icon.svg" alt=""> <span>05 มีนาคม 2563</span></div>
                            </div>
                        </div>
                    </div>
                    </SliderItem>
                </Slider>
                </client-only>
            </article>
            <button class="primary-btn wide-btn">View more ›</button>
    </section>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      options: {
        slidesToScroll: 1,
        loop: true,
        pagination: true
      }
    }
  }
}
</script>
