<template>
  <div>
    <LightGallery
      :images="images"
      :index="index"
      :disable-scroll="true"
      @close="index = null"
    />
    <ul>
      <li
        v-for="(thumb, thumbIndex) in [
          'https://placekitten.com/801/800',
          'https://placekitten.com/802/800',
        ]"
        :key="thumbIndex"
        @click="index = thumbIndex"
      >
        <img :src="thumb">
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      images: [
          { title:'img 1', url: 'https://placekitten.com/801/800' },
          { title:'img 2', url: 'https://placekitten.com/802/800' },
      ],
      index: null
    }
  }
}
</script>

