<template>
    <footer>
        <section class="site-footer _desktop">
            <div class="s-container">
                <div class="s-grid -d4">
                    <article>
                        <h3>FBR Property</h3>
                        <ul class="menu-footer">
                            <li><a href="#">AskGruru</a></li>
                            <li><a href="#">Thailand Property News</a></li>
                            <li><a href="#">Property Resources</a></li>
                        </ul>
                        <a class="view-more" href="#">View more</a>
                    </article>
                    <article>
                        <h3>FProperties For Sale</h3>
                        <ul class="menu-footer">
                            <li><a href="#">Condos for Sale</a></li>
                            <li><a href="#">Houses for Sale</a></li>
                            <li><a href="#">Townhouses For Sale</a></li>
                        </ul>
                        <a class="view-more" href="#">View more</a>
                    </article>
                    <article>
                        <h3>Properties For Rent</h3>
                        <ul class="menu-footer">
                            <li><a href="#">Condos For Rent</a></li>
                            <li><a href="#">Houses For Rent</a></li>
                            <li><a href="#">Townhouses For Rent</a></li>
                        </ul>
                        <a class="view-more" href="#">View more</a>
                    </article>
                    <article>
                        <h3>FBR Property</h3>
                        <ul class="menu-footer">
                            <li><a href="#">New Property Launches</a></li>
                            <li><a href="#">New Condos</a></li>
                            <li><a href="#">New Houses</a></li>
                        </ul>
                        <a class="view-more" href="#">View more</a>
                    </article>
                </div>
                <br/>
                <div class="s-grid -d4">
                    <article>
                        <h3>Popular Properties For Sale</h3>
                        <ul class="menu-footer">
                            <li><a href="#">Condo For Rent in Bangkok</a></li>
                            <li><a href="#">Apartment For Rent in Bangkok</a></li>
                            <li><a href="#">House For Rent in Bangkok</a></li>
                        </ul>
                        <a class="view-more" href="#">View more</a>
                    </article>
                    <article>
                        <h3>Popular Properties For Rent</h3>
                        <ul class="menu-footer">
                            <li><a href="#">Condo For Rent in Bangkok</a></li>
                            <li><a href="#">Apartment For Rent in Bangkok</a></li>
                            <li><a href="#">House For Rent in Bangkok</a></li>
                        </ul>
                        <a class="view-more" href="#">View more</a>
                    </article>
                    <article>
                        <h3>Thailand Popular Areas</h3>
                        <ul class="menu-footer">
                            <li><a href="#">Properties For Sale in Thailand</a></li>
                            <li><a href="#">Properties For Sale in Bangkok</a></li>
                            <li><a href="#">Properties For Sale in Sukhumvit</a></li>
                        </ul>
                        <a class="view-more" href="#">View more</a>
                    </article>
                    <article>
                        <h3>Tools</h3>
                        <ul class="menu-footer">
                            <li><a href="#">AgentNet Login</a></li>
                            <li><a href="#">Sell/Rent Your Properties</a></li>
                            <li><a href="#">RSS Feeds</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </article>
                </div>
            </div>
        </section>
        <section class="site-footer-m _mobile">
            <div class="footer-menu">
                <div class="logo"><img src="../static/img/logo-w.svg" alt=""></div>
                <ul>
                    <li class="menu"><a href="#">Home</a></li>
                    <li class="menu"><a href="#">Blog</a></li>
                    <li class="menu"><a href="#">Directory  &nbsp; <img src="../static/img/icon/arrow-icon.svg" alt=""></a></li>
                    <li class="menu"><a href="#">Project</a></li>
                    <li class="menu"><a href="#">List a Property</a></li>
                    <li class="menu"><a href="#">Contact</a></li>
                </ul>
            </div>
            <ul class="footer-bottom">
                <li><a href="#"><img src="../static/img/icon/home-icon-m.svg" alt="">Home</a></li>
                <li><a href="#"><img src="../static/img/icon/map-icon-m.svg" alt="">Map</a></li>
                <li><a class="search" href="#"><div><img src="../static/img/icon/search-icon-m.svg" alt="">Search</div></a></li>
                <li><a href="#"><img src="../static/img/icon/heart-icon-m.svg" alt="">Saved</a></li>
                <li><a href="#"><img src="../static/img/icon/user-icon-m.svg" alt="">User</a></li>
            </ul>
        </section>
    </footer>
</template>
