<template>
    <header class="banner-hero-container">
        <div class="menu-icon-m _mobile"><img src="../static/img//icon/menu-icon-m.svg" alt=""></div>
        <nav class="main-menu-d">
            <div class="logo-m _mobile"><img src="../static/img//logo-w.svg" alt=""></div>
            <div class="menu-left _desktop">
                <div class="logo"><img src="../static/img//logo.svg" alt=""></div>
                <ul>
                    <li class="menu"><a href="#"><img src="../static/img//home-icon.svg" alt=""></a></li>
                    <li class="menu"><a href="#">Buy</a></li>
                    <li class="menu"><a href="#">Rent</a></li>
                    <li class="menu"><a href="#">New Project</a></li>
                    <li class="menu"><a href="#">Directory  &nbsp; <img src="../static/img//icon/arrow-icon.svg" alt=""></a></li>
                    <li class="menu"><a href="#">Blog</a></li>
                    <li class="menu"><a href="#">Sell/Lease</a></li>
                </ul>
            </div>
            <ul class="_desktop">
                <li class="menu-contact"><a href="#">Contact us</a></li>
                <li class="favorite"><a href="#"><span>13</span><img src="../static/img//icon/favorite-icon.svg" alt=""></a></li>
                <li class="menu-user"><a href="#"><img src="../static/img//icon/user-icon.png" alt=""> Hi Punpichai </a></li>
            </ul>
        </nav>
        <div class="banner-hero-text">
            <h1>Happiness<span>is the best yiled</span></h1>
        </div>
        <div class="search-area">
            <div class="search-term">
                <a class="active" href="#">BUY</a>
                <a href="#">RENT</a>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search by property name or area">
                <button><img src="../static/img//icon/search-icon.svg" alt=""></button>
            </div>
            <ul class="search-suggest">
                <li><a href="#">Residenctial</a></li>
                <li><a href="#">Anyprice</a></li>
                <li><a href="#">Any bed</a></li>
                <li class="_desktop"><a href="#">Save search</a></li>
            </ul>
        </div>
    </header>
</template>
