<template>
    <header class="main-menu">
        <div class="menu-icon-m _mobile"><img src="../static/img//icon/menu-icon-m.svg" alt=""></div>
        <nav class="main-menu-d">
            <div class="logo-m _mobile"><img src="../static/img//logo.svg" alt=""></div>
            <div class="menu-left _desktop">
                <div class="logo"><img src="../static/img//logo.svg" alt=""></div>
                <ul>
                    <li class="menu"><a href="#"><img src="../static/img//home-icon.svg" alt=""></a></li>
                    <li class="menu"><a href="#">Buy</a></li>
                    <li class="menu"><a href="#">Rent</a></li>
                    <li class="menu"><a href="#">New Project</a></li>
                    <li class="menu"><a href="#">Directory  &nbsp; <img src="../static/img//icon/arrow-icon.svg" alt=""></a></li>
                    <li class="menu"><a href="#">Blog</a></li>
                    <li class="menu"><a href="#">Sell/Lease</a></li>
                </ul>
            </div>
            <ul class="_desktop">
                <li class="menu-contact"><a href="#">Contact us</a></li>
                <li class="favorite"><a href="#"><span>13</span><img src="../static/img//icon/favorite-icon.svg" alt=""></a></li>
                <li class="menu-user"><a href="#"><img src="../static/img//icon/user-icon.png" alt=""> Hi Punpichai </a></li>
            </ul>
        </nav>
    </header>
</template>
