<template>
 <section id="testimonial">
        <h2 class="s-heading small">Reviews</h2>
        <client-only>
        <Slider :options="options">
          <SliderItem
            class="carousel"
            v-for="i in 10"
            :key="i"
            >
              <div class="carousel-cell">
                  <div class="pic">
                      <a href="#">
                          <img src="../static/img/testi01.png" alt="">
                      </a>
                  </div>
                  <div class="info">
                      <div class="post-title">
                        Wut Siittipornanan
                      </div>
                      <div class="review">
                          <img src="../static/img/icon/star1.svg" alt="">
                          <img src="../static/img/icon/star1.svg" alt="">
                          <img src="../static/img/icon/star1.svg" alt="">
                          <img src="../static/img/icon/star1.svg" alt="">
                          <img src="../static/img/icon/star1.svg" alt="">
                      </div>
                      <div class="post-excerpt">
                          <strong>Professional and friendly</strong>
                            I lived in Bangkok Thailand.The service that I got from the FindBangkokRoom company
                      </div>
                  </div>
              </div>
          </SliderItem>
         </Slider>
         </client-only>
        <button class="primary-btn wide-btn">View more ›</button>
    </section>
</template>
<script>
export default {
  components: {},
  data () {
    return {
      options: {
        slidesToScroll: 1,
        loop: true,
        pagination: false
      }
    }
  }
}
</script>
