<template>
  <div>
      <Header />
      <section id="prime-area" class="s-container box-padding">
        <h2 class="s-heading">Prime Area</h2>
        <div class="items s-grid -m2 -d4">
            <div class="item">
                <a href="#">
                    <img src="../static/img/p-area-1.jpeg" alt="">
                    <h3 class="title centered">Thonglor Eakamai</h3>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="../static/img/p-area-2.jpeg" alt="">
                    <h3 class="title centered">Asok Prompong</h3>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="../static/img/p-area-3.jpeg" alt="">
                    <h3 class="title centered">Riverside</h3>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="../static/img/p-area-4.jpeg" alt="">
                    <h3 class="title centered">Sathorn Silom</h3>
                </a>
            </div>
        </div>
    </section>
    <section id="highest-score" class="s-container box-padding">
        <h2 class="s-heading">Highest Score</h2>
        <div class="items s-grid -m1 -d3">
            <article
              class="item"
              v-for="i in 6"
              :key="i">
                <div class="best-price"><img class="" src="../static/img/icon/like-icon.svg" alt=""> Best Price</div>
                <div class="add-to-whitelist"><img class="" src="../static/img/icon/fav-icon.svg" alt=""></div>
                <div class="circle"><img class="" src="../static/img/Ellipse7.png" alt=""></div>
                <div class="score">
                    <div class="point">7.5</div>
                    <span>FBR SCORE</span>
                    <div class="view-icon"><img src="../static/img/icon/view-icon.svg" alt="">   <span>1.2K</span></div>
                </div>
                <div class="carousel-wrapper slider-card">
                  <client-only>
                    <Slider :options="options">
                      <SliderItem
                        v-for="i in 5"
                        :key="i"
                        class="img-wrapper"
                        style="width: 100%"
                      >
                        <img :src="`./${i}-200x100.jpeg`" />
                        <!-- <img src="../static/img/hs-1.png" alt="">
                        <img src="../static/img/hs-1.png" alt="">
                        <img src="../static/img/hs-1.png" alt="">
                        <img src="../static/img/hs-1.png" alt=""> -->
                      </SliderItem>
                    </Slider>
                  </client-only>
                </div>
                <div class="info">
                    <div class="location"><img src="../static/img/icon/pin.svg" alt="">  Klogntoey</div>
                    <a href="#"><h3 class="title">Millennium Residence</h3></a>
                    <div class="roomtype">
                        <img src="../static/img/icon/condo.svg" alt=""> condominum  <img src="../static/img/icon/star1.svg" alt=""> <img src="../static/img/icon/star1.svg" alt="">  <img src="../static/img/icon/star1.svg" alt=""> <img src="../static/img/icon/star2.svg" alt=""> <img src="../static/img/icon/star2.svg" alt="">
                    </div>
                    <div class="detail">
                        <img src="../static/img/icon/bed-icon.svg" alt=""><span>2</span><img src="../static/img/icon/toilet-icon.png" alt=""> <span>2</span><img src="../static/img/icon/lb-icon.svg" alt=""><span>190</span><img src="../static/img/icon/pet-icon.png" alt="">
                    </div>
                    <hr>
                   <div class="price">
                       <div class="for-rent">
                           <div class="btn-outline">For Rent</div>
                           <div class="thb"><img src="../static/img/icon/thb-icon.svg" alt=""> <span>65,000</span> </div>
                        </div>
                       <div class="for-sale">
                            <div class="btn-outline">For Sale</div>
                            <div class="thb"><img src="../static/img/icon/thb-icon.svg" alt=""> <span>25,000,000</span></div>
                        </div>
                   </div>
                   <hr>
                   <div class="g-review">
                        <img src="../static/img/icon/g-review-icon.svg" alt=""> <span>4.5</span> <img src="../static/img/icon/star1.svg" alt=""> <img src="../static/img/icon/star1.svg" alt="">  <img src="../static/img/icon/star1.svg" alt=""> <img src="../static/img/icon/star2.svg" alt=""> <img src="../static/img/icon/star2.svg" alt="">  <span>(236 Review)</span>
                   </div>
                </div>
            </article>
        </div><!-- s-grid -->
        <button class="primary-btn wide-btn">All Highest Score ›</button>
    </section>

    <TestiSlider />
    <Blog />

    <Footer />
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      options: {
        slidesToScroll: 1,
        loop: true,
        pagination: true
      }
    }
  }
}
</script>

<style>
    @import '~/assets/css/home.css';
  .carousel-wrapper {
    width: 100%;
    min-height: 180px;
    /* height: 100%; */
  }
  .img-wrapper img {
    margin: auto;
    width: 100%;
    height: auto;
    background-image: linear-gradient(gray 100%, transparent 0);
  }
</style>
