<template>
    <section>
        <HeaderSingle/>

   

        <Footer />
    </section>
</template>

<script>
// register globally
// Vue.component('vue-cool-lightbox', window.CoolLightBox.default)
</script>
<style>
    @import '~/assets/css/single-condo.css';
</style>
