<template>
    <client-only>
      <CoolLightBoxs />
      </client-only>
</template>

<script>
// export default {
//   mounted () {
//     this.getDetail()
//   },
//   methods: {
//     getDetail () {
//       const requestOptions = {
//         method: 'GET',
//         redirect: 'follow'
//       }

//       fetch('http://139.59.112.212:8080/api/property/v1/getpropertyimages/1', requestOptions)
//         .then(response => response.json())
//         .then(result => console.log(result))
//         .catch(error => console.log('error', error))
//     }
//   },
//   data () {
//   }
// }
</script>
