// out: false
/* == MOBILE REBOOT == */
*,
*::before,
*::after {
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
hr {
  margin: var(--s-space) 0;
  color: inherit;
  border: 0;
  border-bottom: 1px solid var(--s-border);
}
abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 0;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: var(--s-border);
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
  font-weight: var(--s-heading-font-weight);
  vertical-align: top;
}
td {
  vertical-align: top;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
  max-width: 100%;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
  max-width: 100%;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: -webkit-fill-available;
  background-color: #fff;
}
body {
  margin: 0;
  font-family: var(--s-body);
  font-size: 16px;
  font-weight: normal;
  line-height: var(--s-body-line-height);
  color: var(--s-text);
  text-align: left;
  background-color: #F5F5F7;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 0.75rem;
  font-family: var(--s-heading);
  font-weight: var(--s-heading-weight);
  line-height: var(--s-heading-line-height);
}
h1 {
  font-size: 1.63em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.375em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}
nav,
.nav,
.menu,
button,
.button,
.btn,
.price,
._heading,
.wp-block-pullquote blockquote,
blockquote,
label,
legend {
  font-family: var(--s-heading);
  font-weight: var(--s-heading-weight);
}

p {
  padding: 0;
  margin: 0 0 1em;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
ol,
ul {
  ol,
  ul {
    margin-bottom: 0;
  }
}
dt {
  font-weight: 700;
}
a {
  color: var(--s-accent);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: 0.3s;
  &:hover {
    color: var(--s-accent-hover);
  }
  &:active {
    opacity: 0.6;
  }
}

/* == INI == */
ol {
  padding-left: 1.6em;
  text-indent: 0;
  margin: 0 0 1.5em;
}
ul {
  padding-left: 1.5em;
  text-indent: 0;
  margin: 0 0 1.5em;
}
body,
input,
textarea,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga1" on;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
}
h2,
h3,
h4 {
  label {
    font-weight: inherit;
  }
}
form,
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
button:focus,
input:focus,
textarea:focus,
*:focus {
  outline: 0 !important;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
}
blockquote {
  text-align: left;
  font-size: 1.25em;
  line-height: 1.6;
  padding: 0 0 0 23px;
  border-left: 3px solid #262828;
  margin: 1.6em 0;
  ol,
  ul,
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  cite {
    font-size: 0.8em;
  }
}
/* FORM */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  padding: 0 8px;
  line-height: 2;
  min-height: 30px;
}
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  box-shadow: 0 0 0 transparent;
  border: 1px solid var(--s-border);
  border-radius: var(--s-border-radius);
  background-color: #fff;
  color: var(--s-text);
  transition: 0.2s border-color ease-in-out;
  &:focus {
    // border-color: var(--s-accent);
  }
}
input,
textarea {
  font-size: 16px;
}

textarea.input-text {
  border: 1px solid var(--s-border);
  &:focus {
    border-color: var(--s-accent);
  }
}

.button.alt {
  background-color: var(--s-accent);
  border-color: var(--s-accent);
  padding: 6px 15px;
  font-size: 1.125em;
}

button,
.button,
html [type="button"],
[type="reset"] {
  border: 1px solid var(--s-border);
  padding: 4px 15px;
  border-radius: var(--s-border-radius);
  background-color: var(--s-border);
  color: var(--s-bg);
  transition: 0.3s;
  &:hover {
    border-color: var(--s-accent);
    background-color: var(--s-accent);
    color: var(--s-bg);
  }
}
