// out: false

// CSS VARIABLES
:root {
  --s-accent: #80AC03;
  --s-accent-hover: #BBC932;
  --s-bg: #fff;
  --s-light: #f1f1f3;
  --s-text: #66737D;
  --s-line: #dcdfe5;
  --s-noti: #FBA036;
  --s-border:#C4C4C4;
  --s-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  --s-border-radius: 3px;
  --s-box-padding: 15px;
  --s-heading: 'Roboto', sans-serif;
  --s-heading-weight: 500;
  --s-heading-line-height: 1.3;
  --s-body: 'Roboto', sans-serif;
  --s-body-blog: 'Roboto', sans-serif;
  --s-body-line-height: 1.625;
  --s-space: 16px;
  --s-header-height: 50px;
  --s-footer-height: 40px;
  --s-title-size: 1.8rem;
  --s-title-height: 100px;
  --s-title-bg-blur: 20px;
  --s-title-bg-opacity: 0.7;
}
.site-header {
  --s-bg: #fff;
  --s-text: #222;
}
.site-nav-m {
  --s-bg: #111;
  --s-text: #eee;
  --s-line: #333;
}
.site-nav-d {
  --s-bg: #fff;
  --s-text: #222;
}
.content-headline {
  --s-bg: #000;
  --s-text: #fff;
}
.site-footer {
  --s-bg: #fff;
  --s-text: #313131;
  --s-accent-hover: var(--s-accent);
}
.footer-bar {
  --s-bg: #0a0b0c;
  --s-text: #bbc0c4;
  --s-accent-hover: #ffffff;
}

@media (min-width: 768px) {
  :root {
    --s-space: 20px;
    --s-woo-form-padding: 20px;
  }
}

@media (min-width: 992px) {
  :root {
    --s-header-height: 70px;
  }
  .main-header {
    --s-title-height: 200px;
    --s-title-size: 2rem;
  }
}
