// out: ../desktop.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true
/* == GENERAL == */

@import "_variables.scss";
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.875em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.375em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}

/* == HEADER == */

