// out: ../home.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

/* == HOME== */
.banner-hero-container{
  min-height: 493px;
  background: url(../../static/img/hero_mini.png) center 0px / cover no-repeat;
  @media (max-width: 550px){
    min-height: 393px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../static/img/hero_mini.png) center 0px / cover no-repeat;
  }
  .menu-icon-m{
  position: absolute;
  top: 16px;
  right: 17px;
  }
  .main-menu-d{
    max-width:1116px ;
    margin: 0 auto;
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    .logo-m{
      margin: 0 auto;
      @media (min-width: 550px){
        img{
          width: 150px;
        }
      }
    }
    ul{
      list-style: none;
      margin-bottom: 0;
      li{
        display: inline-block;
        padding: 0 10px;
        a{
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          color: #fff;
        }
      }
    }
    .menu-left{
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
    }
    .menu-right{
      margin-right: -25px;
    }
    .favorite{
      padding-right: 0px;
      span{
        font-size: 12px;
        padding-right: 10px;
      }
    }
    .menu-contact{
      padding-right: 25px;
    }
    .menu-user{
      padding-left: 0px;
      a{
        font-weight: normal;
      }
    }
  }

  .banner-hero-text{
    color: #fff;
    text-align: center;
    margin-top: 60px;
    @media (max-width: 550px){
      margin-top: 33px;
    }
    h1{
      font-size: 64px;
      font-weight: 700;
      span{
        display: block;
        font-size: 47px;
        font-weight: 400;
        @media (max-width: 550px){
          font-size: 17px;
        }
        @media screen and (max-width: 991px) and (min-width: 551px) {
          font-size: 30px;
        }
      }
      @media (max-width: 550px){
        font-size: 17px;
      }
      @media screen and (max-width: 991px) and (min-width: 551px) {
        font-size: 40px;
      }
    }
  }
}

.search-area{
  //for mobile
  @media (max-width: 551px) {
    position: absolute;
    top: 270px;
    right: auto;
    left: auto;
    width: 100%;
  }
  text-align: center;
  margin-top: 50px;
  .search-term{
    margin-bottom: 22px;
    a{
      color: #ffffff;
      font-size: 18px;
      line-height: 21px;
      padding: 10px 20px;
      font-weight: 500;
      &.active,:hover{
        border-bottom: 4px solid #BBC932; ;
      }
      &:hover{
        border-bottom: 4px solid #BBC932; ;
      }
    }
  }
  .search-box{
    margin-top: 25px;
    background-color: #fff;
    width: 392px;
    height: 50px;
    background: #F5F5F7;
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    z-index: 999;
    @media (max-width: 400px){
      width: 90%;
    }
    @media (max-width: 991px) {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    }
    input{
      width: calc(100% - 48px);
      background-color: unset;
      border: unset;
      color: rgba(136, 136, 136, 0.8);
    }
    button{
      padding: 0;
      background-color: unset;
      border: unset;
    }
  }

  .search-suggest{
    width: 392px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    padding-top:13px ;
    padding-bottom:47px;
    @media (max-width: 400px){
      width: 90%;
      justify-content: space-around;
    }
    @media (max-width: 991px) {
      //background-color: #f5f5f7;
      // width: 100%;
      a{
        color:#66737D;
        text-shadow: unset;
      }
    }
    a{
      color: #fff;
      font-size: 14px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

#prime-area{
  @media (max-width: 551px) {
    margin-top: 80px;
  }
  a{
    color: #F5F5F7;
    h3{
      font-size: 26px;
      text-align: center;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      @media (max-width: 550px){
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  .item{
    position: relative;
    border-radius: 5px;
    .img{
      position: relative;
    }
  }
}


#highest-score{
  .item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }

  .best-price{
    position: absolute;
    left: 9px;
    top: 11px;
    z-index: 999;
    width: 94px;
    height: 26px;
    padding: 5px 5px;
    background: #66737D;
    backdrop-filter: blur(8px);
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }

  .add-to-whitelist{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
  }
  .circle{
    width: 72px;
    position: absolute;
    right: 16px;
    top: 145px;
    z-index: 999;
  }
  .score{
    position: absolute;
    right: 31px;
    top: 220px;
    z-index: 1;
    text-align: center;
    span{
      font-size: 10px;
      color: #66737D;
    }
    .point{
      font-weight: 700;
      font-size: 35px;
      line-height: 35px;
      text-align: center;
      letter-spacing: -1px;
      color: #BBC932;
    }
    .view-icon{
      margin-top: -10px;
    }
  }

  .s-grid{
    grid-gap: 45px;
  }

  .info{
    padding: 17px;
    padding-top: 5px;
    .title{
      margin-bottom: 0;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
    }
    .location,.roomtype{
      font-size: 12px;
    }
    .roomtype{
      color: #FBA036;
      font-weight: 500;
    }
  }

  .detail{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 5px;
    span{
      margin-left: 8px;
      margin-right: 13px;
    }
  }

  hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .g-review{
    span{
      font-size: 12px;
      margin-left: 5px;
      color: #C4C4C4;
    }
  }

  .price{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .btn-outline{
      font-size: 12px;
      line-height: 14px;
      font-weight: bold;
      border-radius: 5px;
      box-sizing: border-box;
      width: 73px;
      height: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span{
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      margin-left: 5px;
    }

    .for-rent{
      .thb{
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
      .btn-outline{
        border: 1px solid #FBA036;
        color: #FBA036;
      }
    }
    .for-sale{
      .thb{
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
      .btn-outline{
        border: 1px solid #BBC932;
       color: #BBC932;
      }
    }

  }

  .slider-card{
    width: 100%;
    overflow: hidden;

  }

  .slider-pagination-bullet{
    background:#fff;
    margin: 0 3px !important;
    width: 5px !important;
    height: 5px !important;
    background: #f5f5f5 ;
    opacity: 1;
  }

  .slider-pagination-bullet-active{
    width: 12px !important;
    border-radius: 6px;
    background-color: #fff !important;
  }
}/*end #highest-scorre*/



/* TESTIMONIAL */
#testimonial {
  .slider-item{
    width: 280px !important;
    display: unset;
    @media (max-width: 991px) {
      width: 100% !important;
      // margin-right: unset !important;
      margin-right: 26px;
      margin-left: 26px;
    }
  }
  .slider-pagination{
    display: none;
  }
  .carousel-cell {
    text-align: center;
    min-height: 250px;
    width: auto;
    margin-right: 16px;
    border-radius: 5px;

    .info{
      background: #fff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
      border-radius: 5px;
    }
    .pic{
        border-radius: 50%;
        margin-bottom: -45px;
        z-index: 99;

    }
    .post-title{
      padding-top: 55px;
      color: #333333;
      font-size: 14px;
      line-height: 16px;

    }
    .review{

      margin-top: -26px;
      margin-bottom: -25px;
    }
    .post-excerpt{
        color: #333333;
        // border: 1px solid #000;
        font-size: 12px;
        line-height: 16px;
        padding: 10px 10px;
        padding-bottom: 20px;
        // word-wrap: break-word;
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        white-space: pre-line;
        strong{
          font-size: 14px;
          font-weight: 700;
          display: block;

        }
    }

    // @media (max-width: 767px){
    //     width: 280px;
    // }
  }
}

/* BLOG */
#blog {
  .slider-item{
    width: 33% !important;
    display: unset;
    margin-right: 13px;
    margin-left: 13px;
    @media (max-width: 991px) {
      width: 100% !important;
      // margin-right: unset !important;
      // margin-right: 26px;
    }
  }
  .slider-pagination{
    display: none;
  }
  .carousel-cell {
    min-height: 233px;
    // width: 33.333%;
    width: auto;
    height: 100%;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;

    .info{
      padding: 15px 8px 12px 8px;
    }
    .pic{
        border-radius: 50%;
        z-index: 99;
        min-height: 170px;
        border-radius: 5px;
    }
    .post-title{
      color: #333333;
      font-size: 12px;
      line-height: 14px;
      font-weight: 700;
    }

    .post-date{
      font-size: 10px;
      line-height: 12px;
      display: flex;
      padding-top: 11px;
      margin-left: 5px;
      span{
        margin-right: 10px;
        margin-left: 3px;
        color: #C4C4C4
      }
    }
    @media (max-width: 767px){
       // width: 280px;
    }
  }
  .primary-btn{
    margin-top: 50px;
  }
}
