// out: ../mobile.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true
@import "_variables.scss";
@import "_begin.scss";
@import "_seed.scss";


/* == breadcrumb == */
#breadcrumb{
  padding-top: 27px;
  padding-bottom: 27px;
  @media (max-width: 991px){
    padding-top: 14px;
    padding-bottom: 14px;
  }
  ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li{
      display: inline-block;
      padding-right: 15px;
      margin-right: 15px;
      background: url(../../static/img/icon/arrow-right.svg) no-repeat center right;
      font-size: 13px;
      &:last-child{
        background: unset;
      }
      @media (max-width: 991px){
        font-size: 9px;
        background-size: 3px 7px;
        padding-right: 12px;
        margin-right: 12px;
      }
    }
  }
}

.card-w{
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-bottom: 23px;
  @media (max-width: 991px){
    margin-bottom: 10px;
  }
}



/* == FOOTER == */
.site-footer{
  min-height: 400px;
  margin-top: 145px;
  background: #80AC03;
  padding: 32px 0;
  h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #F5F5F7;
  }
  ul{
    list-style: none;
    padding-left: 0;
  }
  a{
    color: #F5F5F7;
    font-size: 14px;
  }
  .view-more{
    border-bottom: 2px solid #FFFFFF;
    font-weight: 500;
  }
}

.site-footer-m {
  margin-top: 42px;
  @media (min-width: 991px){
    display: none;
  }
  .footer-menu{
    background-color: var(--s-accent);
    text-align: center;
    padding: 30px 0;
    ul{
      list-style: none;
      padding-left: 0;
      margin-top: 20px;
      a{
        color: #ffffff;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
  .footer-bottom{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0;
    margin-bottom: 0;
    a{
      color: #8A959E;;
    }
    img{
      display: block;
      margin: 0 auto;
    }
    .search{
      display: inline-block;
      width: 60px;
      height: 60px;
      background: var(--s-accent);
      border-radius: 50%;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      img{
        display: block;
        margin: 0 auto;
      }
    }
  }
}

