// out: ../search.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true


.main-menu{
    background-color: #fff;
     @media (max-width: 550px){
       
     }
     .menu-icon-m{
       position: absolute;
       top: 16px;
       right: 17px;
       @media (max-width: 550px){
         top: 17px;
       }
     }
     .main-menu-d{
       max-width:1116px ;
       margin: 0 auto;
       padding: 27px 0;
       display: flex;
       justify-content: space-between;
       align-content: flex-end;
       align-items: flex-end;
       @media (max-width: 550px){
         padding: 15px 0;
         
       }
       .logo-m{
         margin-left: 13px;
         @media (min-width: 550px){
           img{
             width: 150px;
           }
         }
       }
       ul{
         list-style: none;
         margin-bottom: 0;
         li{
           display: inline-block;
           padding: 0 10px;
           a{
             font-weight: bold;
             font-size: 18px;
             line-height: 21px;
             color: #8A959E;
           }
         }
       }
       .menu-left{
         display: flex;
         align-content: flex-end;
         align-items: flex-end;
       }
       .menu-right{
         margin-right: -25px;
       }
       .favorite{
         padding-right: 0px;
         span{
           font-size: 12px;
           padding-right: 10px;
         }
       }
       .menu-contact{
         padding-right: 25px;
       }
       .menu-user{
         padding-left: 0px;
         a{
           font-weight: normal;
         }
       }
     }
   }



 #search-box{
    .search-area{
        display: grid; 
        grid-template-columns: 117px 117px auto 163px;
        grid-gap: 11px;
        .btn-outline{
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 32px;
        }
        .for-rent{
            &.btn-outline{
                border: 1px solid #FBA036;
                color: #FBA036;
            }
        }
        .for-sale{
            &.btn-outline{
                border: 1px solid #BBC932;
                color: #BBC932;
            }
        }
        .search-input{
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 5px;
            display: flex;
            align-items: center;
            img{
                margin-left: 21px;
                margin-right: 15px;
            }
            input{
                width: 100%;
                border: unset;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                color: rgba(136, 136, 136, 0.8);
            }
        }
        .map-search{
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #66737D;
            background-color: white;
            img{
                margin-right: 14px;
            }
        }
    }

    .filter-area{
        background: #FFFFFF;
        border: 1px solid #E2E4E6;
        border-radius: 5px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 17px;
        select{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
} 

  #highest-score{

    h1{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #66737D;
        margin-left: 35px;
        margin-bottom: 35px;
        span{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #C4C4C4;
        }
    }
    .item{
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
      border-radius: 5px;
      background-color: #fff;
      position: relative;
    }
  
    .best-price{
      position: absolute;
      left: 9px;
      top: 11px;
      z-index: 1;
      width: 94px;
      height: 26px;
      padding: 5px 5px;
      background: #66737D;
      backdrop-filter: blur(8px);
      border-radius: 50px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
    }
  
    .add-to-whitelist{
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 1;
    }
    .circle{
      width: 72px;
      position: absolute;
      right: 16px;
      top: 145px;
      z-index: 1;
    }
    .score{
      position: absolute;
      right: 31px;
      top: 190px;
      z-index: 1;
      text-align: center;
      span{
        font-size: 10px;
        color: #66737D;
      }
      .point{
        font-weight: 700;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        letter-spacing: -1px;
        color: #BBC932;
      }
      .view-icon{
        margin-top: -10px;
      }
    }

    .flickity-page-dots .dot{
        display: none;
    }
  
    .info{
      padding: 17px;
      padding-top: 5px;
      .title{
        margin-bottom: 0;
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
      }
      .location,.roomtype{
        font-size: 12px;
      }
      .roomtype{
        color: #FBA036;
        font-weight: 500;
      }
    }
  
    .detail{
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      padding-top: 10px;
      padding-bottom: 5px;
      span{
        margin-left: 8px;
        margin-right: 13px;
      }
    }
  
    hr{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .g-review{
      span{
        font-size: 12px;
        margin-left: 5px;
        color: #C4C4C4;
      }
    }
  
    .price{
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      .btn-outline{
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
        border-radius: 5px;
        box-sizing: border-box;
        width: 73px;
        height: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      span{
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        margin-left: 5px;
      }
     
      .for-rent{
        .thb{
          display: flex;
          align-items: center;
          margin-top: 10px;
        }
        .btn-outline{
          border: 1px solid #FBA036;
          color: #FBA036;
        }
      }
      .for-sale{
        .thb{
          display: flex;
          align-items: center;
          margin-top: 10px;
        }
        .btn-outline{
          border: 1px solid #BBC932;
         color: #BBC932;
        }
      }
      
    }
  
    .carousel.is-fullscreen .carousel-cell {
      height: 100%;
    }
    .slider-card{
      width: 100%;
  
    }
    .carousel-cell {
        width: 100%;
        min-height: 180px;
        height: 100%;
        text-align: center;
        overflow: hidden;
        img{
          max-height: 100%;
          width: 100%;
        }
    }  
  }
  


  /* == Available Units== */

 .available-units{
    @media (max-width: 991px){
     padding: 13px;
    }
    .margin-r{
      margin-right: 10px;
    }

    .info-heading{
        display: flex;
        justify-content: space-between;
        .icon{
            margin-right: 13px;
        }
    }
    .heading{
      display: flex;
      justify-content: space-between;
      margin-left: 35px;
      @media (max-width: 991px){
        display: block;
      }
      h2{
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
       color: #66737D;
       
       
      }
      .qty{
        display: flex;
        margin-bottom: 23px;
       
        .for-sale{
           display: flex;
           align-content: center;
           justify-content: center;
           align-items: center;
           background: #66737D;
           backdrop-filter: blur(8px);
           border-radius: 50px;
           font-weight: bold;
           font-size: 12px;
           line-height: 14px;
           text-align: center;
           height: 26px;
           width: 156px;
           border-radius: 50px;
           color: #fff;
        }
        .for-rent{
         display: flex;
         align-content: center;
         justify-content: center;
         align-items: center;
         background: #F5F5F7;
         backdrop-filter: blur(8px);
         border-radius: 50px;
         font-weight: bold;
         font-size: 12px;
         line-height: 14px;
         text-align: center;
         height: 26px;
         width: 156px;
         border-radius: 50px;
         color:#66737D;
        }
      }
    }
    
    .content{
       list-style: none;
       padding-left: 0;
       h3.roomname{
         font-size: 16px;
         line-height: 19px;
         font-weight:700;
        }
       li{  
         position: relative;
         background: #FFFFFF;
         border-radius: 5px;
         padding: 12px 13px 13px 12px;
       
         .room-detail{
           display: flex;
           font-weight: normal;
            font-size: 12px;
            line-height: 14px;
           .img{
             min-width: 126px;
             margin-right: 21px;
           }
         }
       }
       .type{
        display: none;
       }
       
       .price{
         font-weight: 700;
         font-size: 18px;
         line-height: 21px;
         color: #66737D;
         position: absolute;
         bottom: 10px;
         right : 9px;
       }
    }
    .room-detail-top{
     display: flex;
      .mrt,.walking{
        display: flex;
        width: fit-content;
        align-items: center;
        span{
            margin-right: 10px;
        }
      }
      img{
        margin-right: 6px;
        height: 14px;
      }
    }
 
    .room-detail-bottom{
     display: flex;
     padding: 14px 0;
     span{
       color: #66737D;
       font-weight: 700;
       padding-right: 10px;
       font-size: 12px;
       line-height: 14px;
     }
     i{
        font-size: 12px;
        line-height: 14px;
        font-style: normal;
        font-weight: normal;
        margin-right: 10px;
        padding-left: 2px;
     }
     img{
        margin-right: 5px;
        width: 12px;
     }
  
     .bed{
       display: flex;
       align-items: center;
       img{
           width: 12px;
       }
     }
     .bath{
       display: flex;
       align-items: center;
     }
     .sqm{
       display: flex;
       align-items: center;
       img{
        margin-right: 9px;
       }
     }
   }
  }
 
 