// out: ../single-condo.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true



.s-container{
  &.s-full-width-m{
    @media (max-width: 991px){
      // border: 1px solid red;
      margin-left: -16px;
      width: calc(100% + 32px);
    }
  }
}
.primary-btn{
  background: #BBC932;
  border-radius: 5px;
}

.nopading-top{
  padding-top: 0 !important;
}
/* == MENU == */
.main-menu{
   background-color: #fff;
    @media (max-width: 550px){

    }
    .menu-icon-m{
      position: absolute;
      top: 16px;
      right: 17px;
      @media (max-width: 550px){
        top: 17px;
      }
    }
    .main-menu-d{
      max-width:1116px ;
      margin: 0 auto;
      padding: 27px 0;
      display: flex;
      justify-content: space-between;
      align-content: flex-end;
      align-items: flex-end;
      @media (max-width: 550px){
        padding: 15px 0;

      }
      .logo-m{
        margin-left: 13px;
        @media (min-width: 550px){
          img{
            width: 150px;
          }
        }
      }
      ul{
        list-style: none;
        margin-bottom: 0;
        li{
          display: inline-block;
          padding: 0 10px;
          a{
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #8A959E;
          }
        }
      }
      .menu-left{
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
      }
      .menu-right{
        margin-right: -25px;
      }
      .favorite{
        padding-right: 0px;
        span{
          font-size: 12px;
          padding-right: 10px;
        }
      }
      .menu-contact{
        padding-right: 25px;
      }
      .menu-user{
        padding-left: 0px;
        a{
          font-weight: normal;
        }
      }
    }
  }


  /* == HERO AREA == */
  .hero-gallery{
    padding: 29px;
    @media (max-width: 991px){
      padding: 0;
    }
    article{
      @media (max-width: 991px){
        padding: 13px;
      }
    }
    .heading{
      display: flex;
      align-content: center;
      &._mobile{
        position: relative;
      }
      @media (max-width: 991px){
        display: block;
      }
      h1{
        color: var(--s-accent);
        font-size: 24px;
        padding-right: 25px;
        font-weight: 700;
        @media (max-width: 991px){
         margin-bottom: 0;
        }
      }
      .star{
        @media (max-width: 991px){
          display: flex;
          margin-bottom: 10px;
        }
        .star-icon{
          width: 22px;
          @media (max-width: 991px){
            width: 9.94px;
          }
        }
      }
    }
    .icon-condo-txt{
      color: #FBA036;
      font-size: 12px;
      line-height: 14px;
      font-weight: bold;
      margin-right: 5px;
    }
    .room-detail-top1{
      display: flex;
      font-size: 18px;
      line-height: 21px;
      padding-bottom: 15px;
      @media (max-width: 991px){
        font-size: 12px;
          line-height: 14px;
          padding-bottom: 5px;

      }
      span{
        padding-right: 15px;
      }
      img{
        padding-right: 15px;
        @media (max-width: 991px){
          padding-right: 7px;
        }
      }
      .icon-condo{

        img{
          height: 24.26px ;
        }
        span{
          color: #FBA036;
        }
      }
      .location{
        @media (max-width: 991px){
          font-size: 12px;
          line-height: 14px;
        }
        img{
          height: 16px;
          @media (max-width: 991px){
            height: 10px;
          }
        }
      }
      .ref{
        font-weight: bold;
        @media (max-width: 991px){
          font-weight: normal;
        }
        i{
          font-style: normal;
          @media (max-width: 991px){
            font-weight: bold;
          }
        }
      }
    }

    .room-detail-top2{
      display: flex;
      font-size: 16px;
      line-height: 19px;
      padding-bottom: 15px;
      @media (max-width: 991px){
        padding-bottom: 0px;
        font-size: 10px;
        line-height: 12px;
        .mrt img{
          height: 13.33px;
        }
        .walking img{
          height: 13.51px;
        }
        .pet img{
          height: 13.32px;
        }
      }
      span{
        padding-right: 15px;
      }
      img{
        padding-right: 15px;
      }
    }
    .room-detail-bottom{
      justify-content: space-between;
      align-items: center;
      margin-top: 21px;

      @media (max-width: 991px){
        display: block;
        margin-top: 0px;
      }
      @media (min-width: 992px){
        border-bottom: 1px solid #E2E4E6;
        padding-bottom: 19px;
        transform: rotate(0.06deg);
        margin-bottom: 22px;
      }
    }
    .room-detail-bottom,.room-detail-bottom-l{
      display: flex;
      .info-icon{
        // margin-top: 42.3px;
        margin-right: 25px;
        display: flex;
        align-items: center;
        @media (max-width: 991px){
          margin-right: 7px;
          &.year img{
            width: 22px;
          }
          &.unit img{
            width: 23px;
          }
          &.tower img{
            width: 20.74px;
          }
          &.area img{
            width: 21px;
          }
          &.floor img{
            // width: 17.34px;
            // height: 19.91px;
          }
        }
        img{
          margin-right: 10px;
        }
        span{
          display: block;
          font-weight: 700;
          font-size: 14px;
          line-height: 25px;
          color: #66737D;
          i{
            font-size: 8px;
            line-height: 9px;
            font-weight: 500;
            font-style: normal;
          }

        }
        small{
          font-weight: normal;
          display: block;
          font-size: 8px;
          line-height: 9px;
        }
      }
    }
    .room-detail-bottom-r{
      display: flex;
      @media (max-width: 991px){
        margin-top: 25px;
        border-top: 1px solid #E2E4E6;
        border-bottom: 1px solid #E2E4E6;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .price{
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        margin-top: 14px;

      }
      .for-rent{

        .text{
          border: 1px solid #FBA036;
          box-sizing: border-box;
          border-radius: 5px;
          width: 155px;
          height: 31px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          color: #FBA036;
          margin-right: 32px;
          @media (max-width: 991px){
            font-size: 14px;
            line-height: 16px;
            padding: 0 8px;
            max-width: 121px;
            height: 21px;
          }
        }
      }
      .for-sale{

        .text{
          border: 1px solid #80AC03;
          box-sizing: border-box;
          border-radius: 5px;
          width: 155px;
          height: 31px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          color: #80AC03;
          @media (max-width: 991px){
            font-size: 14px;
            line-height: 16px;
            width: auto;
            padding: 0 8px;
            max-width: 121px;
            height: 21px;
          }
        }
      }
    }
    .gallery-img{
      display: grid;
      grid-template-columns: 701px auto;
      grid-gap: 12px;
      @media (max-width: 991px){
        display: block;
      }
      .left-img{
       position: relative;
       .icon-top{
         position: absolute;
         top: 15px;
         right: 15px;
       }
       .icon-bottom{
        position: absolute;
        bottom: 15px;
        left: 15px;
        img{
          width: 21px;
        }
       }
      }
      .right-img{
        display: grid;
        grid-row-gap: 9px;
        .img-bottom{
          max-height: 188px;
          overflow: hidden;
          position: relative;
          .link{
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 26px;
            line-height: 30px;
            color: #FFFFFF;
            font-weight: 700;
            .number{
              padding-left: 8px;
            }
          }
        }
      }
    }
    .gallery-footer{
      display: flex;
      justify-content: space-between;
    }
    .g-review{
      font-size: 18px;
      line-height: 21px;
      @media (max-width: 991px){
        font-size: 12px;
        line-height: 14px;
        padding-top: 13px;
      }
      img{
        height: 19px;
        @media (max-width: 991px){
          height: 10px;
        }
      }
      .score{
        text-align: center;
        color: #C4C4C4;
        margin-left: 15px;
        margin-right: 23px;
        @media (max-width: 991px){
          margin-left: 3px;
          margin-right: 3px;
        }
      }
      .star{
        width: 18.5px;
        @media (max-width: 991px){
          height: 10px;
          width: auto;
        }
      }
      .viewer{
        text-align: center;
        color: #C4C4C4;

        @media (max-width: 991px){
          margin-left: 10px;
        }
      }
    }
  }



   /* == Full Gallery Mobile== */
  #full-gallery{
    padding: 18px 13px 34px 13px;
    h1{
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */
      color: #66737D;
      padding-left: 13px;
    }
    ul{
      list-style: none;
      padding-left: 0;
      padding-left: 13px;
      padding-right: 13px;
    }
  }


   /* == Facilities == */
   #facilities{
     .s-grid{
      @media (max-width: 991px){
       display: block;
      }
     }
   }
   .facilities{
     padding: 17px 38px 46px  38px;
     @media (max-width: 991px){
      padding: 17px 13px 17px  13px;
     }
     h2{
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #66737D;
     }
     .icon-info-container{
       display: flex;
       padding: 0 8px;
      //  justify-content: space-between;
       flex-wrap: wrap;
     }

     .info-icon{
      margin-top: 18px;
      margin-right: 15px;
      display: flex;
      align-items: center;
      min-width: 55px;
      img{
        margin-right: 15px;
      }
      span{
        display: block;
        font-size: 14px;
        line-height: 16px;
        color: #66737D;
      }
    }
   }

   .price-history{
    padding: 17px 34px 46px  34px;
    h2{
     font-weight: 700;
     font-size: 18px;
     line-height: 21px;
     color: #66737D;
    }
   }

 /* == Project Detail == */

 .s-grid-7030{
  display: grid;
  grid-template-columns: auto 355px;
  grid-gap: 23px;
  @media (max-width: 991px){
   display: block;
   }
}

 .project-detail{
  padding: 17px 34px 46px  34px;
  @media (max-width: 991px){
    padding: 17px 0px 46px  0px;
  }
  .detail-img{
    @media (max-width: 991px){

    }
  }
  h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #66737D;
    margin-bottom: 22.44px;
    @media (max-width: 991px){
      padding-left: 13px;
    }
   }
  p{
    color: #979797;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    @media (max-width: 991px){
      padding-left: 13px;
    }
  }
  .subtitle{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-top: 25px;
    @media (max-width: 991px){
      padding-left: 13px;
    }
  }
  .view-more{
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    float: right;
    @media (max-width: 991px){
      float: none;
      display: block;
      text-align: center;
      margin: 0 auto;
     }
  }
 }


 /* == Form == */
 .form-inq{
  padding: 17px 31px 13px  31px;
  .logo{
    width: 124px;
    margin-bottom: 17.38px;
  }
  input{
    border-radius: 5px;
    box-sizing: border-box;
  }
  .col-2{
    display: flex;
    margin-bottom: 11px;
    justify-content: space-between;
    input{
      width: calc(50% - 4px);
    }
  }
  .full-w{
    input{
      width: 100%;
      display: block;
      margin-bottom: 11px;
    }
  }
  textarea{
    min-height: 144px;
    width: 100%;
  }
  .btn-outline{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    border: 1px solid #BBC932;
    color: #BBC932;
    font-family: Roboto;
    font-style: normal;
    margin-bottom: 11px;
    img{
      padding-right: 21px;
      padding-left: 19px;
    }
  }
  .secondary-btn{
    margin-top: 9px;
    padding: 5px 29px;
    width: calc(50% - 8px);
  }
 }


 /* == nearby-heading == */
 .nearby{
   padding: 24px 40px 32px 37px;
  .nearby-heading{
   display: flex;
   justify-content: space-between;

   .view-more{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #C4C4C4;
    @media (max-width: 991px){
      font-size: 8px;
      line-height: 9px;
    }
   }

   .icon{
      text-transform: uppercase;
    img{
      vertical-align: text-bottom;
      padding-right: 10px;
    }
    span{
      display: inline-block;
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
    }
   }
  }
  .item{
    border-right: 1px solid #C4C4C4;
    padding-right: 23px;
    &:last-child{
      border-right: unset;
    }
    @media (max-width: 991px){
      border-right: unset;
    }
  }
  .nearby-list{
    padding-top: 19px;
    .nearby-item{
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      line-height: 15px;
      color: #66737D;
      padding: 3px 0;
      @media (max-width: 991px){
        font-weight: 500;
        font-size: 8px;
        line-height: 9px;
      }
    }
  }
 }



 /* == Available Units== */

 .available-units,.similar-units{
   padding: 37px;
   @media (max-width: 991px){
    padding: 13px;
   }
   .margin-r{
     margin-right: 10px;
   }
   .heading{
     display: flex;
     justify-content: space-between;
     @media (max-width: 991px){
       display: block;
     }
     h2{
      font-weight:700;
      font-size: 18px;
      line-height: 21px;
      color: #66737D;
      &.fixed-width{
        max-width: 180px;
        @media (max-width: 991px){
          max-width: 100%;
        }
      }

     }

     .qty{
       display: flex;
       margin-bottom: 23px;
       @media (max-width: 991px){
         margin-bottom: 27px;
         justify-content: space-around;
         //margin: 0 auto;
       }
       .for-sale{
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          background: #66737D;
          backdrop-filter: blur(8px);
          border-radius: 50px;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          height: 26px;
          width: 156px;
          border-radius: 50px;
          color: #fff;
       }
       .for-rent{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        background: #F5F5F7;
        backdrop-filter: blur(8px);
        border-radius: 50px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        height: 26px;
        width: 156px;
        border-radius: 50px;
        color:#66737D;
       }
     }
   }

   .content{
      list-style: none;
      border: 1px solid #E2E4E6;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 14px 24px 14px 24px;
      @media (max-width: 991px){
        padding: 5px 3px;
      }
      h3.roomname{
        font-size: 16px;
        line-height: 19px;
        font-weight:700;
       }
      li{
        position: relative;
        border-bottom: 1px solid #E2E4E6;
        margin-bottom: 14px;
        padding-bottom: 14px;
        @media (max-width: 991px){
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
        &:last-child{
          border-bottom: unset;
        }
        .room-detail{
          display: flex;
          @media (max-width: 991px){
          // flex-wrap: wrap;
            padding: 7px 4px;
          }

          .img{
            max-width: 209px;
            margin-right: 21px;
            @media (max-width: 991px){
              min-width: 131px;
              margin-right: 11px;
            }
          }
        }
      }
      .type{
        position: absolute;
        top: 0px;
        right :62px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(8px);
        border-radius: 50px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        height: 26px;
        width: 88px;
        border-radius: 50px;
        @media (max-width: 991px){
          display: none;
        }
        &.for-sale{
          background: #66737D;
          color: #fff;
        }
        &.for-rent{
          background: #F5F5F7;
          border: 1px solid #66737D;
          box-sizing: border-box;
          backdrop-filter: blur(8px);
          color: #66737D;
        }
      }

      .price{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #FFA14A;
        position: absolute;
        bottom: 24px;
        right :62px;
        @media (max-width: 991px){

          right :15px;
        }

      }
   }
   .room-detail-top{
     display: flex;
     .mrt,.walking{
      @media (max-width: 991px){
        display: flex;
        justify-content: space-around;
      }
     }
     img{
       margin-right: 12px;
       height: 19px;
       @media (max-width: 991px){
         height: 13.51px;
         margin-right: 5px;
       }
     }
     span{
      margin-right: 17px;
      font-size: 13px;
      line-height: 15px;
        @media (max-width: 991px){
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        margin-right: 5px;
        width: auto;
        }
     }
     .pet{
       img{
        height: 17px;
       }
     }
   }

   .room-detail-bottom{
    display: flex;
    padding: 14px 0;
    span{
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #66737D;
      font-weight: 700;
      padding-right: 20px;
      @media (max-width: 991px){
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      }
    }
    i{
      display: block;
      font-size: 8px;
      line-height: 9px;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      @media (max-width: 991px){
        display: unset;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        padding-left: 5px;
      }
    }
    img{
      margin-right: 13px;
      @media (max-width: 991px){
        height: 9px;
        margin-right: 5px;
      }
    }
    .bed{
      display: flex;
      align-items: center;
      img{
        height: 23px;

        @media (max-width: 991px){
          height: 9px;
        }
      }
    }
    .bath{
      display: flex;
      align-items: center;
    }
    .sqm{
      display: flex;
      align-items: center;
      img{
       margin-right: 9px;
      }
    }
    .sofa{
      display: flex;
      align-items: center;
      @media (max-width: 991px){
        display: none;
      }
      span{
        font-size: 13px;
        line-height: 15px;
        font-weight: normal;
        white-space: nowrap;
      }
    }
  }
 }


 /* == Map == */
 .map{
   border-radius: 5px;
   overflow: hidden;
 }

/* == Review == */
 .review{
   margin-top: 48px;
   .heading{
     display: flex;
     align-items: center;

     .pic{
        width: 62px;
        height: 62px;
        margin-right: 13px;
     }
     .owner{
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      color: #00BD9F;
     }
   }

   .carousel-cell {
     width: 100%;
      .item{
        min-height: 174px;
        background: #FFFFFF;
        // box-shadow: 0px 30px 60px rgba(138, 149, 158, 0.2);
        border-radius: 10px;
        overflow: hidden;
        padding: 21px;
        // width: 33.3333333%;
      }
      @media (max-width: 991px){
        width: 100%;
      }
   }
   .info{
     padding: 4px;
     font-size: 13px;
    line-height: 20px;
    color: #8A959E;
   }


   .flickity-page-dots{
     padding: 50px 0;
     position: unset;
     @media (max-width: 991px){
      padding: 40px 0;
    }
   }

   .flickity-page-dots .dot {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 8px;
    background:  #FFA14A;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    @media (max-width: 991px){
      margin: 0 4px;
    }
  }

  .flickity-page-dots .dot.is-selected {
    opacity: 1;
    border: 2px solid #FFA14A;
    box-sizing: border-box;
    background-color: unset;
  }
 }


 // Gsllery Slider

 .pswp__scroll-wrap {
   left: 50% !important;
    transform: translate(-50%, 0);
}
.pswp img {
  max-width: none !important;
  width: 100%;
  object-fit: contain !important;
}
// .pswp img {
//   max-width: none;
//   height: auto !important;
// }
.pswp__bg{
  background: rgba(136, 136, 136, 0.5) !important;
}

.single-foot-space{
  height: 39px;
}






/* == Room == */
.wrapAround-gallery{
  .carousel img {
    display: block;
    height: 200px;
    max-width: unset;
  }

  @media screen and ( min-width: 768px ) {
    .carousel img {
      height: 400px;
    }
  }

  .overlay{
    position: relative;

  }

  .overlay .bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.6);
  }

  .overlay.is-selected .bg{
     background-color: unset
  }
  .flickity-button ,.flickity-button:hover{
    background-color: unset;
    border: unset;
  }
}


.carouselNav{
  margin-top: 42px;
  .carousel {
    background: #FAFAFA;
    margin-bottom: 40px;
  }

  .carousel-cell {
    width: 100%;
    height: 104px;
    margin-right: 10px;
    background: #80ac03;
    counter-increment: carousel-cell;
  }

  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .carousel-nav .carousel-cell {
    height: 104px;
    width: 166px;
  }

  .carousel-nav .carousel-cell:before {
    font-size: 50px;
    line-height: 80px;
  }

  .carousel-nav .carousel-cell.is-nav-selected {
    background: #ED2;
  }

}


.single-room{
  .room-detail-bottom-l{
    span{
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #66737d;
      font-weight: 700;
      padding-right: 20px;
    }
    i{
      display: block;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
    }
    img{
      margin-right: 13px;
    }
    .icon-flex-item{
      display: flex;
      align-items: center;
    }
  }
  .bed{
    img{
      width: 36px;
    }
  }
  .bath{
    img{
      width: 31px;
    }
  }
  .sqm{
    img{
      width: 22.74px;
    }
  }
  .sofa{
    span{
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
    }
  }
}


.single-room{
  .hero-gallery{
    position: relative;
  }
  .score-top{
    position: absolute;
    right: 29px;
    top: 0;
    width: 104px;
    height: 112px;
    //background-color: #BBC932;
    background: url(../../static/img/bg-score.svg) no-repeat center center;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    @media (max-width: 991px){
      width: 54px;
      height: 59px;
      background-size: cover;
      right: 0px;
      top: -13px
      // background-size: 54px 59px;

    }
    .score{
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -1px;
      @media (max-width: 991px){
        font-size: 24px;
        line-height: 28px;
      }
    }
    .text{
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      @media (max-width: 991px){
        font-size: 6px;
      }
    }
    .view{
      font-size: 10px;
      @media (max-width: 991px){
        img{
          width: 7.33px;
        }
        font-size: 6px;
      }
    }
  }
}

.single-room{
  .project-detail{
    .box{
      display: grid;
      grid-template-columns: 65% auto;
      grid-gap: 38px;
      @media (max-width: 991px){
        display: block;
      }
    }
    .subtitle{
      padding-top: 0;
      @media (max-width: 991px){
        padding-top: 30px;
      }
    }
  }
}

.single-room{
  .project-detail-l{
    .info{
      padding: 17px 34px 46px 34px;
    }
  }
}